/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  background-color: #000028;
  background-image: url(../images/cover-image-dark.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.header {
  padding-top: 17px;
  height: 100vh;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
}
.decorated-zone {
  position: relative;
}
.decorated-zone::before, 
.decorated-zone::after  {
  content: "";
  display: block;
  position: absolute;
  width: 25px;
  height: 25px;
}
.decorated-zone::before {
  bottom: 20px;
  left: 20px;
  border-bottom: 1px solid var(--decor-color);
  border-left: 1px solid var(--decor-color);
}
.decorated-zone::after {
  border-top: 1px solid var(--decor-color);
  border-right: 1px solid var(--decor-color);
  top: 20px;
  right: 20px;
}
.rec-text {
  display: none;
}
.rec-text {
  position: absolute;
  min-width: 33px;
  min-height: 26px;
  text-transform: uppercase;
  font-size: 18px;
  color: var(--decor-color);
  right: 48px;
  top: 20px;
}
.rec-text::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 7px;
  right: -20px;
  width: 12px;
  height: 12px;
  background-color: var(--decor-color);
  border-radius: 50%;
}
.header__theme-menu-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.header__theme-menu-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-transform: lowercase;
  font-size: 18px;
  color: var(--title-text-color);
  padding: 2px 13px;
}
.header__theme-menu-button:hover {
  border: none;
  outline: 1px solid var(--opacity-border-color-button);
}
.header__theme-menu-button:focus {
  outline: none;
  border: none;
}
.header__theme-menu-button:focus-visible {
  outline: none;
  border-bottom: 1px solid var(--title-text-color);
}
.header__theme-menu-button_active {
  outline: 1px solid var(--title-text-color);
  pointer-events: none;
  cursor: none;
}

.header__main-title {
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  color: var(--h1-title-color);
  align-self: center;
  text-shadow: 4px 4px 0 var(--decor-color);
  font-weight: 700;
  padding-bottom: 14px;
}
.header__main-title-description {
  width: calc(50% - 20px);
  align-self: start;
  font-size: 18px;
  font-weight: 700;
  margin-top: 6vh;
  margin-right: 20px;
  justify-self: end;
}
.decorated-text {
  background-color: var(--decor-color);
  color: var(--decorated-text-color);
}

.articles {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 60px;
  margin-bottom: 80px;
  padding: 0 20px;
  gap: 18px;
}
.width-two-grids {
  grid-column: 2 / span 2;
}
.width-full {
  grid-column: 1 / span 3;
}

.article__item {
  margin-bottom: 2px;
}
.article__title,
.article__item-title {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 10px;
}
.article__title {
  color: var(--title-text-color);
}
.width-third-part {
  width: 33%;
}
.margin-bot-small {
  margin-bottom: 2px;
}
.margin-bot-big {
  margin-bottom: 20px;
}
.article__item-text {
  color: var(--main-text-color);
  font-size: 18px;
  line-height: 23.4px;
}
.article__item-text:not(:first-of-type) {
  margin-top: 8px;
}
.article__item-title__thin-text {
  font-weight: 400;
}
.anchor-text {
  position: relative;
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--decor-color);
}
.anchor-text:hover::after{
  content: "";
  width: 100%;
  bottom: 0;
  left: 0;
  position: absolute;
  border-bottom: 1px solid currentColor;
}
.anchor-text:focus {
  border: none;
  outline: none;
}
.anchor-text:focus-visible {
  outline: 1px solid var(--main-text-color);
  outline-offset: 0;
}
.article_with_images {
  gap: 20px;
}
.color_images {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.width_start-col_two-blocks {
  grid-column: span 2;
}
.height_two-blocks_col-end {
  grid-row: 2 / span 2;
  grid-column: 3;
}
.height_two-blocks_col-start {
  grid-row: 3 / span 2;
}
.width_two-blocks_col-mid {
  grid-column: 2 / span 2;
}
.margin-none {
  margin-bottom: 0;
}
.footer {
  height: 100vh;
  display: grid;
  justify-content: center;
  align-items: center;
}
@media (max-width: 576px) {
  .header__main-title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }
}
@media (max-width: 768px) {
  .header__theme-menu-list {
    flex-direction: column;
    align-items: end;
    gap: 10px;
    padding-top: 172px;
    padding-right: 20px;
  }
  .header__main-title-description {
    margin-top: 38px;
  }
  .full-width_small-screen {
    grid-column: 1 / span 3;
  }
  .width-third-part {
    width: 25%;
  }
  .pad-left-seven-points {
    padding-left: 7px;
  }
  .article_with_images {
    margin-bottom: 50px;
  }
}
@media (max-width: 566px) {
  .header {
    padding: 10px;
  }
  .header__theme-menu-list {
    padding-top: 62px;
    padding-right: 0;
  }
  .decorated-zone::before {
    bottom: 10px;
    left: 10px;
  }
  .decorated-zone::after {
    top: 10px;
    right: 10px;
  }
  .rec-text {
    right: 38px;
    top: 10px;
  }
  .header__main-title {
    line-height: 98px;
    padding-bottom: 0;
  }
  .header__main-title-description {
    width: 100%;
    margin-right: 0;
    margin-top: 44px;
  }
  .articles {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    margin-bottom: 50px;
    padding: 0 10px;
    gap: 21px;
  }
  .article__title {
    margin-bottom: 0;
  }
  .width-third-part {
    width: 100%;
  }
  .article__item {
    margin-bottom: 0;
  }
  .article_with_images {
    gap: 6px;
    margin-bottom: 40px;
  }
  .pad-left-seven-points {
    padding-left: 0;
  }
}
